<!-- verification-email.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup credentaisl</title>
</head>
<body>
    <p>Please click the following link to setup your credentials:</p>
    <p><a href="<%= verificationLink %>"><%= verificationLink %></a></p>
</body>
</html>